<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/assets/logo.png" type="image/png">
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favalist</title>

    <meta name="description"
        content="Discover, save, and share your favorite things with Favalist. Meet new people with similar taste.">

    <meta name="keywords" content="favorites, list, collection, discovery, sharing, categories, social, dating">
    <meta name="author" content="thenithinbalaji">

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="Favalist - Your Ultimate Favorite List">
    <meta property="og:description"
        content="Discover, save, and share your favorite things with Favalist. Meet new people with similar taste.">

    <meta property="og:type" content="website">
    <meta property="og:image" content="/assets/thumbnail.jpg">
    <!-- <meta property="og:url" content="https://example.com"> -->

    <!-- Stylesheets -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/styles.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js"></script>

    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body ng-app="myApp">

    <div class="bg-[url(assets/background.jpg)] bg-cover bg-center">

        <nav class="w-full py-5 px-8 flex justify-between" id="nav">
            <div class="flex flex-col justify-center">
                <a href="/" class="flex gap-2">
                    <img src="/assets/logo.png" class="w-8 h-8" alt="Favalist Logo">
                    <p class="font-[Galada] text-3xl py-auto">Favalist</p>
                </a>
            </div>

            <a href="/login"
                class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-0 focus:outline-none ">
                Login
            </a>
        </nav>

        <section id="home">
            <div
                class="flex justify-center w-fit px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-14 lg:py-16 lg:grid-cols-12 lg:pt-28">
                <div class="mx-auto place-self-center lg:col-span-7">
                    <h1
                        class="max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl">
                        Meet new people with similar tastes. <br />
                        <span class="text-blue-600 text-5xl md:text-5xl xl:text-6xl">Discover,
                            save, and share your favorite things with
                            Favalist.</span>
                    </h1>

                    <p class="max-w-xl mb-6 text-lg font-normal text-gray-800 md:text-xl">
                        Favalist is a social platform where you can share your favorite things with the world. You can
                        discover new things and meet new people with similar tastes.
                    </p>

                </div>
                <div class="hidden lg:mt-0 lg:block">
                    <img src="/assets/followcard.png" alt="hero image"
                        class="w-full rounded-xl border shadow-md rotate-12">
                </div>
            </div>

        </section>

    </div>


    <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:text-center">
                <h2 class="text-base font-semibold leading-7 text-indigo-600">It's Completely Free</h2>
                <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Everything you need to
                    know about Favalist</p>
                <p class="mt-6 text-lg leading-8 text-gray-600">
                    Equipped with a powerful recommendation engine to help you discover new people. You can create your
                    own
                    list of favorite things and share it with the world. You can also follow other people and let them
                    know you like them.
                </p>
            </div>

            <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-16 lg:max-w-4xl">
                <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
                    <div class="relative pl-16">
                        <dt class="text-base font-semibold leading-7 text-gray-900">
                            <div
                                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                    stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
                                </svg>
                            </div>
                            Publicly Shown to other users
                        </dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">Your public data will be shown to other users
                            who can like you based on your interests. You can't opt out from being shown to other users.
                        </dd>
                    </div>
                    <div class="relative pl-16">
                        <dt class="text-base font-semibold leading-7 text-gray-900">
                            <div
                                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                    stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                                </svg>
                            </div>
                            Liking Users
                        </dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">A favalist user can only be liked from the
                            feed.
                            A user will be shown in your feed only if our algorithm thinks you might be a good match
                            with them.
                        </dd>
                    </div>
                    <div class="relative pl-16">
                        <dt class="text-base font-semibold leading-7 text-gray-900">
                            <div
                                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                    stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                                </svg>
                            </div>
                            Showcase Your Likes
                        </dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">
                            You can share a link to your profile with other users to showcase the number of likes you
                            have received. This indicates that your preferences align with a large number of people, as
                            you can only be liked when your profile is displayed in the feed.</dd>
                    </div>
                    <div class="relative pl-16">
                        <dt class="text-base font-semibold leading-7 text-gray-900">
                            <div
                                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                    stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
                                </svg>
                            </div>
                            Add More Favorite Categories
                        </dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">Adding more categories will be helpful in
                            discovering poeple with similar tastes.</dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>



    <div class="text-center px-10">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Meet the Team</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">
            The team building the future of social media.
        </p>
    </div>

    <div class="flex justify-center mt-5">
        <div class=" md:grid md:grid-cols-2 lg:grid-cols-4 w-fit">
            <div class="flex items-center gap-x-6 w-fit mx-5 my-5">
                <img class="h-16 w-16 rounded-full" src="/assets/nithin.jpeg" alt="">
                <div>
                    <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Nithin Balaji
                    </h3>
                    <p class="text-sm font-semibold leading-6 text-indigo-600">Founder, CEO</p>
                </div>
            </div>


            <div class="flex items-center gap-x-6 w-fit mx-5 my-5">
                <img class="h-16 w-16 rounded-full"
                    src="https://static.vecteezy.com/system/resources/previews/021/608/790/original/chatgpt-logo-chat-gpt-icon-on-black-background-free-vector.jpg"
                    alt="">
                <div>
                    <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">ChatGPT
                    </h3>
                    <p class="text-sm font-semibold leading-6 text-indigo-600">CTO</p>
                </div>
            </div>

            <div class="flex items-center gap-x-6 w-fit mx-5 my-5">
                <img class="h-16 w-16 rounded-full"
                    src="https://static.thenounproject.com/avatars/4120440/resized/120/120/47808240456b963826703fdb001f64b4.png"
                    alt="">
                <div>
                    <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Alice Design
                    </h3>
                    <p class="text-sm font-semibold leading-6 text-indigo-600">Logo Designer</p>
                    <a href="https://thenounproject.com/rose-alice-design/" target="_blank" title="favourite Icons"
                        class="text-xs font-semibold leading-7 tracking-tight text-indigo-500 hover:text-indigo-400">Noun
                        Project</a>
                </div>
            </div>

            <div class="flex items-center gap-x-6 w-fit mx-5 my-5">
                <img class="h-16 w-16 rounded-full"
                    src="https://github.gallerycdn.vsassets.io/extensions/github/copilot/1.86.82/1683560622878/Microsoft.VisualStudio.Services.Icons.Default"
                    alt="">
                <div>
                    <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">GitHub Copilot
                    </h3>
                    <p class="text-sm font-semibold leading-6 text-indigo-600">AI Pair Assistant</p>
                </div>
            </div>
        </div>
    </div>


    <p class="my-10 text-center text-sm text-gray-500">
        Built with ❤️ by thenithinbalaji
    </p>

</body>

</html>